<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Driver Feedback</title>
</head>
<body>
    <center>
    <form action="" method="post">
        {% csrf_token %}
    
        <h3>Let us know Your Feedback...</h3>
        <table border="1" rules="none">
            <tr>
                <td>Feedback:</td>
                <td><textarea name="txtfcontent" id="" cols="20" rows="5"></textarea></td>
            </tr>
           
            <tr>
                <td colspan="2">
                   <center><input type="submit" value="Submit"></center> 
                </td>
            </tr>
        </table>
    </form>
        
    </center>
    
</body>
</html>