<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Driver Profile</title>
    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            text-align: center;
            margin: 50px;
        }

        table {
            width: 50%;
            margin: auto;
        }

        img {
            max-width: 100%;
            height: auto;
            border-radius: 8px;
        }
    </style>
</head>

<body>
    <form action="" method="post">
        {% csrf_token %}
        <h2 class="mt-4 mb-4">Driver Profile</h2>
        <table class="table table-bordered">
            <tr>
                <td colspan="2">
                    <img src="{{driver.driver_img }}" class="img-fluid" alt="Profile Picture">
                </td>
            </tr>
            <tr>
                <td class="font-weight-bold">Name:</td>
                <td>{{driver.driver_name}}</td>
            </tr>
            <tr>
                <td class="font-weight-bold">Contact:</td>
                <td>{{driver.dcon}}</td>
            </tr>
            <tr>
                <td class="font-weight-bold">Email:</td>
                <td>{{driver.driver_mail}}</td>
            </tr>
            <tr>
                <td colspan="2">
                    <a href="{% url 'webdriver:driverchangepassword' %}" class="btn btn-primary">Change Password</a>
                    <a href="{% url 'webdriver:edit_driverprofile' %}" class="btn btn-primary">Edit Profile</a>
                
                </td>
            </tr>
        </table>
    </form>

    <!-- Add Bootstrap JS and Popper.js scripts (optional but may be required for some Bootstrap features) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
