<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Driver Homepage</title>
</head>

    {% csrf_token %}
<body>
    <form action="">
    Welcome{{driver.driver_name}}<br>
    <a href="{% url 'webdriver:driverprofile' %}">Profile</a><br>
    <a href="{% url 'webdriver:busdetails' %}">Bus Details</a><br>
    <a href="{% url 'webdriver:drivercomplaints' %}">Complaints</a><br>
    <a href="{% url 'webdriver:driverfeedbacks' %}">Feedbacks</a>

    
</form>

  
</body>

</html>