<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Edit Profile</title>
</head>
<center>

<body>
    <h2>Admin Profile</h2>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table border="1" rules="none">
            <tr>
                <tr><td> Profile Picture:<img src="{{ admin.admin_pic}}" width="400px" height="350px"></td></tr> 
                <tr><td>
               Name: <input type="text" name="txtname1" id="" value="{{admin.admin_name}}"></td></tr>
               <tr>
                <tr><td>
                    Contact: <input type="text" name="txtcon1" id="" value="{{admin.admin_con }}"></td></tr>
                    <tr>
                        <tr><td>
                            Profile Picture: <input type="file" name="txtimage1" id="" value=" {{admin.admin_pic }}"></td></tr>
                            <tr>
                   
           
            </tr><br><br>
          
            <tr><td>
           <input type="submit" name="btnsub1" value="Update"></td></tr>
        </table>
    </form>
</body>

</center>
</html>