{% extends 'Admin/Header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course</title>
</head>
<body>
    <form method="post" action="">
        {% csrf_token %}
<table border="2" align="center">
    <tr>
        <td>Department</td>
      
  

    <td><select name="seldep" id="">
        <option>--select--</option>
        {% for i in dep %}
        <option 
        {% if i.id == dep_name.dep_id %}
        selected
        {% endif %}
        value="{{i.id}}">{{i.dep.dep_name}}</option>
        {% endfor %}
    </select></td>
</tr>
    <tr>
        <td>Course</td>
        <td><input type="text" name="txtcourse" value="{{place.course_name}}"></td>
    </tr>
    
    
    <tr>

        <td><input type="submit" name="btnsub" value="Submit"></td>
        <td><input type="reset" name="btncan" value="Cancel"></td>
    </tr>

</table>
<br>
<table border="2" align="center">
    <tr>
        <td>Department Name</td>
        <td>Course Name</td>
        <td>Action</td>
    </tr>
    {% for i in course %}
     <tr>
        <td>{{i.dep_name.dep_name}}</td>
        <td>{{i.place.course_name}}</td>
        <td><a href="{% url 'webadmin:delete_course' i.id %}">Delete</a>
            <!-- <a href="{% url 'webadmin:edit_place' i.id %}">Edit -->
            </a></td>
        
     </tr>
     {% endfor %}
</table>
</form>
</body>
</html>
{% endblock content %}