<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <form action="" method="post">
    {% csrf_token %}
    <table border="2">
        <tr>
              <td>District</td>
              <td><input type="text" name="txtdis" id="" value="{{disdata.district_name}}"></td>
        </tr>
        <tr>
            <td colspan="2" align="center"> <input type="submit" value="Submit" name="btnsub"></td>
           
        </tr>
    </table>
<br>
<br>
    <table border=""2"">
    <tr>
        <td>Sl.NO</td>
        <td>District Name</td>
        <td>Action</td>
    </tr>
    {% for i in district %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.dis.district_name}}</td>
        <td><a href="{% url 'webadmin:delete_dis' i.id %}">Delete</a>
        <a href="{% url 'webadmin:edit_dis' i.id %}">Edit</a></td>
  
      </tr>
    {% endfor %}
    <table>

    </table>
   
   </form>
    
</body>
</html>