<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Route</title>
</head>
<body>
   <form action="" method="post">
    {% csrf_token %}
    <table border="2">
        <tr>
              <td>Starting Route</td>
              <td><input type="text" name="txtsroute" id="txtsroute" value="{{routes.route_name}}"></td>
        </tr>

        <tr>
            <td>Ending Route</td>
            <td><input type="text" name="txteroute" id="txteroute" value="{{routes.route_name}}"></td>
      </tr>
      <tr>
        <td>Route Rate</td>
        <td><input type="text" name="txtrrate" id="txtrrate" value="{{routes.route_rate}}"></td>
  </tr>
        <tr>
            <td colspan="2" align="center"> <input type="submit" value="Submit" name="btnsub"></td>
           
        </tr>
    </table>
<br>
<br>
    <table border=""2"">
    <tr>
        <td>Sl.NO</td>
        <td>Route Name</td>
        <td>Route Rate</td>
        <td>Action</td>
    </tr>
    {% for i in route %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{i.ro.startroute_name}}-{{i.ro.endroute_name}}</td>
        <td>{{i.ro.route_rate }}</td>
        <td><a href="{% url 'webadmin:delete_route' i.id %}">Delete</a>
        <a href="{% url 'webadmin:edit_route' i.id %}">Edit</a></td>
  
      </tr>
    {% endfor %}
    <table>

    </table>
   
   </form>
    
</body>
</html>