{% extends 'Admin/Header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Bootstrap CSS link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container-fluid">
    <!-- Start Page Content -->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="zero_config" class="table table-striped table-bordered no-wrap">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>E-Mail</th>
                                    <th>Roll Number</th>
                                    <th>Gender</th>
                                    <th>Address</th>
                                    <th>Contact</th>
                                    <th>Guardian Contact</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for student in pdata %}
                                <tr>
                                    <td>{{ student.place.stu_name }}</td>
                                    <td>{{ student.place.stu_mail }}</td>
                                    <td>{{ student.place.stu_roll }}</td>
                                    <td>{{ student.place.stu_gender }}</td>
                                    <td>{{ student.place.stu_house }}</td>
                                    <td>{{ student.place.stucon }}</td>
                                    <td>{{ student.place.stu_gcon }}</td>
                                    <td>
                                        {% if student.place.stu_status == 0 %}
                                            <a href="{% url 'webadmin:accept_student' student.id %}" class="btn btn-success">Accept</a>
                                            <a href="{% url 'webadmin:reject_student' student.id %}" class="btn btn-danger">Reject</a>
                                        {% else %}
                                            <span class="btn btn-success">Accepted</span>
                                            <a href="{% url 'webadmin:reject_student' student.id %}" class="btn btn-danger">Reject</a>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <ul class="pagination float-end">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Content -->
</div>

<!-- Bootstrap JavaScript files -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
{% endblock content %}
