<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose stop</title>
</head>
<body>
    <form method="post" action="">
        {% csrf_token %}
    {% if stopdata %}   
        {% for i in stopdata %}
            {% if i.stdstp_status == 1 or i.stdstp_status == 0 %}
                The Student {{i.student.stu_name}} selected this {{i.route.startroute_name}} to {{i.route.endroute_name}} route and {{i.stop.stop_name}} stop
                <a href="{% url 'webstudent:editchoosestop' i.id %}">Request route change</a>

            {% elif i.stdstp_status == 2  %}
            You selected this {{i.route.startroute_name}} to {{i.route.endroute_name}} route and {{i.stop.stop_name}} stop before
                <table border="2">
                    <tr>
                        <td>Route</td>
                        <td>
                            <select name="sel_route" id="sel_route">
                                <option value="">---Select---</option>
                                {% for r in route %}
                                    <option value="{{r.id}}">{{r.stp.startroute_name}}-{{r.stp.endroute_name}}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>

                    <tr>
                        <td>Stop</td>
                        <td>
                            <select name="sel_stop" id="sel_stop">
                                <option value="">---Select---</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" align="center">
                            <input type="submit" value="Submit" name="btnsub">
                            <input type="reset" value="Cancel" name="btncan">
                        </td>
                    </tr>
                </table>
         
            {% endif %}
        {% endfor %}
    {% else %}  
    <table border="2">
        <tr>
            <td>Route</td>
            <td>
                <select name="sel_route" id="sel_route">
                    <option value="">---Select---</option>
                    {% for r in route %}
                        <option value="{{r.id}}">{{r.stp.startroute_name}}-{{r.stp.endroute_name}}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>

        <tr>
            <td>Stop</td>
            <td>
                <select name="sel_stop" id="sel_stop">
                    <option value="">---Select---</option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <input type="submit" value="Submit" name="btnsub">
                <input type="reset" value="Cancel" name="btncan">
            </td>
        </tr>
    </table>
    {% endif %}    
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#sel_route").change(function () {
                var did = $(this).val();
                var ur = "{% url 'webstudent:ajax_stop' %}"
                $.ajax({
                    url: ur,
                    data: { did: did },
                    success: function (data) {
                        $("#sel_stop").html(data);
                    },
                });
            });
        });
    </script>
</body>
</html>
